.blueboxcontainer{
    padding: 20px;
    background-color: #004AB4;
}

.blueboxcontainer a {
    color:white;
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
.blueboxcontainer a:hover {
    color: #f1356d;
    font-weight: 900;
    text-decoration-line: underline;
  }