.numberstatsbox{
    padding-bottom: 45px ;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 45px;
    height:200px;
    width: fit-content; 

    border-style: solid;
    border-color: #dddddd;
    border-radius: 10px;
    
}