.group1{
    font-size:25px;
    padding: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
  }
  
  .spongeimg {
    padding: 20px;
    display: auto;
    max-width: flex;
    max-height: flex;
    
  }

  .group1text{
      max-width: 500px;
      
  }